<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1>사진<h1>
    <p> Express로 만든 사진 앱</p>
    <div id="photos">
      <% photos.forEach(function(photo){ %>
        <div class="photo">
          <h2><%=photo.name%><h2>
          <img src='<%=photo.path%>' />
        </div>
      <%}) %>
    </div>
  </body>
</html>
